@media screen and (min-width: 640px) and (orientation: landscape) {
  .Modal-Sidebar {
    height: 65vh;
  }
  .Modal {
    width: 590px;
    height: 82vh;
  }
  .close-button {
    margin: -10px auto auto 575px;
  }
  .gallery {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .modal-heading {
    margin: 0 1em;
  }
  .info-container {
    margin-left: 1em;
  }
  .powered-by {
    margin: 0 1em;
  }
  .header-heading {
    display: block;
    margin-top: 8px;
  }
}
@media screen and (min-width: 375px) and (orientation: portrait) {
  .close-button {
    margin: -10px auto auto 285px;
  }
}
@media screen and (min-width: 412px) and (orientation: portrait) {
  .header-heading {
    font-size: 1.5em;
    display: block;
    margin-top: 15px;
  }
  .Modal {
    width: 300px;
  }
  .close-button {
    margin: -10px auto auto 285px;
  }
}
@media screen and (min-width: 732px) and (orientation: landscape) {
  .header-heading {
    margin-top: 15px;
  }
}