@media screen and (min-width: 640px) and (orientation: landscape) {
  .Modal-Sidebar {
    height: 65vh;
  }
  .Modal {
    width: 590px;
    height: 82vh;
  }
  .close-button {
    margin: -10px auto auto 575px;
  }
  .gallery {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .modal-heading {
    margin: 0 1em;
  }
  .info-container {
    margin-left: 1em;
  }
  .powered-by {
    margin: 0 1em;
  }
  .header-heading {
    display: block;
    margin-top: 8px;
  }
}
@media screen and (min-width: 375px) and (orientation: portrait) {
  .close-button {
    margin: -10px auto auto 285px;
  }
}
@media screen and (min-width: 412px) and (orientation: portrait) {
  .header-heading {
    font-size: 1.5em;
    display: block;
    margin-top: 15px;
  }
  .Modal {
    width: 300px;
  }
  .close-button {
    margin: -10px auto auto 285px;
  }
}
@media screen and (min-width: 732px) and (orientation: landscape) {
  .header-heading {
    margin-top: 15px;
  }
}
@media screen and (min-width: 600px) and (orientation: portrait) {
  .Modal-Sidebar {
    height: 77vh;
    top: 115px;
  }
  .Modal {
    width: 555px;
    height: 93vh;
  }
  .close-button {
    margin: -10px auto auto 540px;
  }
  .gallery {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .modal-heading {
    margin: 0 1em;
  }
  .info-container {
    margin-left: 1em;
  }
  .powered-by {
    margin: 0 1em;
  }
  .header {
    width: calc(100% - 2em);
    padding: 1em;
  }
  .header-heading {
    display: block;
    font-size: 2em;
    margin-top: 8px;
  }
  .hamburger-button {
    top: 2em;
  }
}
@media screen and (min-width: 854px) and (orientation: landscape) {
  .header-heading {
    margin-top: 8px;
  }
}
@media screen and (min-width: 960px) and (orientation: landscape) {
  .Modal {
    width: 900px;
    height: 88vh;
  }
  .close-button {
    margin: -10px auto auto 885px;
  }
  .Modal-Sidebar {
    height: 68vh;
  }
}
@media screen and (min-width: 1024px) and (orientation: landscape) {
  .header {
    width: calc(100% - 2em);
    padding: 1em;
  }
  .header-heading {
    display: block;
    font-size: 2em;
    margin-top: 8px;
  }
  .hamburger-button {
    top: 2em;
  }
  .Modal-Sidebar {
    top: 115px;
    height: 71vh;
  }
}
@media screen and (min-width: 800px) and (orientation: portrait) {
  .Modal {
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .Modal-Sidebar {
    height: auto;
  }
}
@media screen and (min-width: 1280px) and (orientation: landscape) {
  .Modal {
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media screen and (min-width: 1024px) and (orientation: portrait) {
  .Modal {
    width: 900px;
    height: auto;
  }
  .close-button {
    margin: -10px auto auto 885px;
  }
  .logo {
    height: 83px;
  }
  .header-heading {
    font-size: 4em;
  }
  .hamburger-button {
    top: 2.3em;
  }
  .hamburger-menu {
    font-size: 90px;
  }
  .Modal-Sidebar {
    top: 160px;
  }
}
@media screen and (min-width: 1280px) and (orientation: landscape) {
  .logo {
    height: 83px;
  }
  .header-heading {
    font-size: 4em;
  }
  .hamburger-button {
    top: 2.3em;
  }
  .hamburger-menu {
    font-size: 90px;
  }
  .Modal-Sidebar {
    top: 160px;
    height: 65vh;
  }
}

